@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
:root {
  font-size: 10px;
  --blue: #7790da;
  --yellow: #fad121;
  --green: #39e27d;
  --orange: #fc9144;
  --pink: #fd9dcb;
  --red: #fa3c6a;
  --woody: #dec5a8;
  --purple: #a070dd;
  --black: #000;
  --white: #fff;
  --bgc: #f6f7f8;
}
html,
body {
  background-color: var(--bgc);
  width: 100%;
  max-width: 100%;
}
.box {
  width: 100%;
  max-width: 1350px;
  padding: 0 3.5rem;
  margin: 0 auto;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.cursive {
  font-family: "Press Start 2P", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.section {
  padding: 7.5rem 0;
  width: 100%;
}
button {
  outline: 0;
  border: 0;
  cursor: pointer;
}
/* Hero Section */
.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: -6.5rem 0 0 0;
}
.hero img {
  width: 100%;
  height: 50rem;
  object-fit: cover;
}
.header {
  width: 100%;
  height: 6rem;
  transform: translate(0, 43.5rem);
  background-color: rgba(119, 144, 218, 0.9);
  backdrop-filter: blur(5px);
  position: sticky;
  top: -43.5rem;
  z-index: 10000;
}
.header div {
  height: 100%;
}
.header-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header-left a {
  font-size: 1.75rem;
  color: var(--white);
  font-weight: 500;
  margin: 0 5rem 0 0;
  position: relative;
  transition: 0.5s;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header-left img {
  width: 7.5rem;
  object-fit: cover;
  opacity: 0.75;
}
.header-left a:hover {
  transform: translate(0, -3px);
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-right * {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-right svg {
  font-size: 2.25rem;
  color: var(--white);
  margin: 0 0 0 2.5rem;
  transition: 0.5s;
}
.header-right svg:hover {
  transform: translate(0, -3px);
}

/* SpecDex Section */

.sp-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5rem;
}
.sp-left {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 2.5rem;
  height: max-content;
}
.sp-left img {
  width: 100%;
  aspect-ratio: 1 1;
  object-fit: cover;
  border: 5px solid transparent;
  transition: 0.25s;
  cursor: pointer;
}
.sp-left img:hover {
  border: 5px solid rgba(119, 144, 218, 0.5);
}
.sp-left img.activeCh {
  border: 5px solid rgba(119, 144, 218, 1);
}
.CHB {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.CHB.activeCHB {
  display: flex;
}
.sp-details-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sp-right img {
  width: 75%;
  object-fit: cover;
  aspect-ratio: 1 1;
}
.sp-right h1 {
  font-size: 2.75rem;
  color: var(--black);
  margin: 3.5rem 0 0.75rem 0;
}
.sp-right h2 {
  font-size: 1.75rem;
  color: var(--black);
  font-weight: 600;
  text-align: center;
}

/* Mint Section */
.mint {
  background-color: var(--blue);
  padding: 5rem 0;
}
.mint-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mint-content h1 {
  width: 100%;
  text-align: center;
  color: var(--white);
  font-size: 3.5rem;
  font-weight: 700;
  margin: 0 0 0.75rem 0;
}
.mint-content button {
  margin: 3.5rem 0 0 0;
  background-color: var(--white);
  padding: 1.25rem 2.5rem;
  font-size: 1.65rem;
  color: var(--blue);
  font-weight: 700;
  transition: 0.5s;
}
.mint-content button:hover {
  transform: scale(1.1);
}
.mint-content p {
  font-size: 1.5rem;
  color: var(--white);
  margin: 1.5rem 0 0 0;
  width: 60%;
  text-align: center;
}
.faq-content h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--blue);
  margin: 0 0 2.5rem 0;
}
.faq-grid {
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5rem;
  width: 100%;
}
.faq-q {
  background-color: var(--blue);
  color: var(--white);
  padding: 1rem 1.75rem;
  font-size: 1.65rem;
  font-weight: 600;
  cursor: pointer;
}
.faq-box {
  margin: 0 0 1.5rem 0;
  position: relative;
}
.faq-a {
  background-color: var(--white);
  color: var(--black);
  padding: 1.5rem 1.75rem;
  font-size: 1.65rem;
  font-weight: 400;
  display: none;
}
.faq-grid-right img {
  width: 100%;
  height: 35rem;
  object-fit: cover;
}

/* Roadmap Section */
.roadmap {
  background-color: var(--white);
}
.roadmap h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--blue);
  margin: 0 0 3.5rem 0;
}
.roadmap-box {
  width: 100%;
  background-color: var(--blue);
  padding: 5rem 3.5rem 2.5rem 3.5rem;
  margin: 0 0 7.5rem 0;
  position: relative;
}
.roadmap-box img {
  height: 10rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-100%, -50%);
  display: none;
}
.roadmap-box::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(3.5rem, 100%);
  height: 100%;
  border-left: 2px dashed var(--blue);
}
.roadmap-box:last-child {
  margin: 0;
}
.roadmap-box:last-child::before {
  height: 0;
}
.roadmap-box h2 {
  font-size: 2.5rem;
  color: var(--white);
  font-weight: 700;
}
.roadmap-box p {
  font-size: 1.65rem;
  color: var(--white);
  font-weight: 500;
  margin: 0.5rem 0 0 0;
}
/* Team Section */
.team-content h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--blue);
  margin: 0 0 2.5rem 0;
}
.team-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5rem;
}
.team-card {
  width: 100%;
  padding: 2.5rem 2.5rem;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.team-card img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 0 0 2.5rem 0;
}
.team-card h3 {
  font-size: 2.25rem;
  color: var(--white);
  font-weight: 700;
}
.team-card h4 {
  font-size: 1.75rem;
  color: var(--white);
  font-weight: 400;
}
.team-card main {
  margin: 5rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-card main svg {
  margin: 0 1.25rem;
  font-size: 2.5rem;
  color: var(--white);
}
.footer {
  padding: 2.5rem 0;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.65rem;
  color: var(--black);
  font-weight: 600;
}
.footer p {
  opacity: 0.75;
}
.footer span {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  margin: 0 0 0.75rem 0;
  font-size: 2.5rem;
  color: var(--blue);
}
.footer span svg {
  margin: 0 1.25rem;
  color: var(--blue);
}
@media screen and (max-width: 1000px) {
  .section {
    padding: 5rem 0;
  }
  .box {
    padding: 0 2.5rem;
  }
  .sp-content {
    grid-gap: 2.5rem;
  }
  .sp-left {
    grid-gap: 0.75rem;
  }
  .sp-right img {
    width: 100%;
  }
  .sp-right h1 {
    font-size: 1.75rem;
    margin: 1.5rem 0 0.75rem 0;
  }
  .sp-right h2 {
    font-size: 1.5rem;
  }
  .mint-content h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 700px) {
  .section {
    padding: 2.5rem 0;
  }
  .box {
    padding: 0 1.5rem;
  }
  .team-grid {
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 75%;
  }
  .sp-content {
    grid-template-columns: 1fr;
  }
  .faq-grid {
    grid-template-columns: 1fr;
  }
  .faq-grid-right {
    display: none;
  }
  .header-right {
    display: none;
  }
  .header-left a {
    font-size: 4.25vw;
    margin: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  /* .header-left a:nth-child(1) {
    display: none;
  } */
  .header-left {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0;
    width: 100%;
  }
  .hero img {
    width: 100%;
    height: 17.5rem;
    object-fit: cover;
  }
  .header {
    top: -11.5rem;
    transform: translate(0, 11.5rem);
  }
  .sp-left {
    order: 2;
  }
  .sp-right {
    order: 1;
  }
  .faq-content h1 {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 0;
  }
  .roadmap h1 {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 0;
  }
  .faq-q {
    font-size: 1.5rem;
  }
  .faq-a {
    font-size: 1.5rem;
  }
  .roadmap-box {
    background-color: var(--blue);
    padding: 1.75rem;
    margin: 0 0 5rem 0;
  }
  .roadmap-box h2 {
    font-size: 1.75rem;
  }
  .roadmap-box p {
    font-size: 1.5rem;
  }
  .mint-content button {
    margin: 2.5rem 0 0 0;
    background-color: var(--white);
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
    color: var(--blue);
    font-weight: 700;
    transition: 0.5s;
  }
  .footer span {
    display: flex;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
  }
  .header-left a:hover {
    transform: translate(0, 0);
  }
  .mint-content p {
    width: 100%;
  }
}
